<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderful Stay</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
     
      <p class="header">LOGIN</p>

      <% if(error.length>0){ %>
        <p class="error"><%= error %></p>
      <% } %>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="User Name" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Login My Account">
      </form>
      

      <a href="#">Forgot your password?</a>

    

      <footer>
        <p>
          By continuing, you agree to Wonderful Stay's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/">Not on Wonderful Stay yet? Sign up</a>
      </footer>
    </div>
  </div>
  
</body>
</html>